[data-elm-hot="true"] {
  height: inherit;
}
.card {
  border-radius: 20px;
}
.card > .card-header {
  box-shadow: none;
}
.card > .card-content,
.card > .card-content > .has-text-left {
  padding: 0 0 0 7px;
  height: 300px;
}
.column > .message.is-white {
  background-color: transparent;
}
.dropdown.is-active > .dropdown-trigger > .button {
  color: white;
  background-color: #1b2d5b;
}
.dropdown-trigger > a > span {
  font-weight: bold;
}
.message > .message-body {
  padding: 0;
  border-radius: 20px;
  background-color: #e5e7ec;
}
.message.is-white > div {
  border: none;
}
.message-body .card {
  margin-top: 10px;
  margin-bottom: 10px;
}
.section > .subtitle.is-5 {
  margin-bottom: 0;
  font-weight: bold;
}
.submenus > .card {
  height: 200px;
}
.submenus.section {
  padding-top: 20px;
  padding-bottom: 0;
}
